h1{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    padding: auto;
    margin: auto;
}
.button{
    text-align: center;
}



.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.grid {
    display: flex;  
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
}

.row {
    white-space: pre-wrap;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.selectItem
{
    display:block;
    width:200px;
    background-color:red;
    color:yellow;
    cursor:pointer;
   
}
.items{
    white-space: pre-wrap;
    
    border: 1px solid black;
}
.items:hover
{
    background-color:blue;
    color:white;
}